<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.ReplyMapper">
    <resultMap id="BaseResultMap" type="org.sang.bean.Reply">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="summary" property="summary"/>
        <result column="content" property="content"/>
        <result column="aid" property="aid"/>
        <result column="uid" property="uid"/>
        <result column="publishTime" property="publishTime"/>
        <result column="state" property="state"/>
        <result column="editTime" property="editTime"/>
        <result column="nickname" property="nickname"/>
        <result column="cateName" property="cateName"/>
        <collection property="tags" ofType="org.sang.bean.Tags" column="tagName">
            <id property="id" column="tid"/>
            <result property="tagName" column="tagName"/>
        </collection>
    </resultMap>

    <insert id="addNewReply" parameterType="org.sang.bean.Reply" useGeneratedKeys="true" keyProperty="id">
         INSERT INTO Reply SET aid=#{aid},summary=#{summary},content=#{content},uid=#{uid},publishTime=#{publishTime},editTime=#{editTime},state=#{state}
    </insert>

    <select id="getReplyById" parameterType="Long" resultMap="BaseResultMap">
      SELECT  rep.*, u.`nickname` FROM reply rep LEFT JOIN USER u ON rep.`uid` = u.`id` WHERE rep.id =#{id}
    </select>

    <delete id="deleteReplyById"  parameterType="Long">
        DELETE FROM reply WHERE id =#{id}
    </delete>

    <update id="updateReplyState" parameterType="org.sang.bean.Reply">
        update reply set state=#{state} where id=#{aid}
    </update>

    <select id="getAllReplyByActicleId" resultType="org.sang.bean.Reply">
        SELECT rep.*,u.`nickname` FROM reply rep INNER JOIN  USER u ON rep.`uid` = u.`id` where 1=1
        <if test="state!=-1 and state!=-2">
            and rep.state=1
        </if>
        <if test="aid!=-1 and aid!=-2">
            AND rep.aid = #{aid}
        </if>
        <if test="keywords!=null">
            AND rep.content LIKE concat('%',#{keywords},'%')
        </if>
        ORDER BY
        rep.publishTime
        limit #{start},#{count}
    </select>

    <select id="getReplyCountByActicleId"  resultType="int">
        SELECT count(*) FROM reply where state=1
        <if test="aid!=-1 and aid!=-2">
            AND aid=#{aid}
        </if>
    </select>

 <!--   <update id="updateReplyStateById" parameterType="org.sang.bean.Reply">
        UPDATE reply SET state=#{state} WHERE id=#{id}
    </update>-->

    <!--<update id="upNoticeToFirst" parameterType="org.sang.bean.Notice">
        UPDATE notice SET editTime=#{editTime} WHERE id=#{id}
    </update>-->

    <!--<delete id="deleteReplyById" parameterType="Long">
        delete form reply where id=#{id} and state=0
    </delete>-->
</mapper>