<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.upFileMapper">
    <resultMap id="BaseResultMap" type="org.sang.bean.upFile">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="path" property="path"/>
        <result column="remark" property="remark"/>
        <result column="cid" property="cid"/>
        <result column="uid" property="uid"/>
        <result column="uploadTime" property="uploadTime"/>
        <result column="editTime" property="editTime"/>
        <result column="pageView" property="pageView"/>
        <result column="state" property="state"/>
        <result column="isTop" property="isTop"/>
    </resultMap>

    <resultMap id="ExResultMap" type="org.sang.bean.vo.upFileBean">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="path" property="path"/>
        <result column="remark" property="remark"/>
        <result column="cid" property="cid"/>
        <result column="uid" property="uid"/>
        <result column="uploadTime" property="uploadTime"/>
        <result column="editTime" property="editTime"/>
        <result column="pageView" property="pageView"/>
        <result column="state" property="state"/>
        <result column="isTop" property="isTop"/>
        <result column="quantity" property="quantity"/>
    </resultMap>

    <insert id="addupFile" parameterType="org.sang.bean.upFile" useGeneratedKeys="true" keyProperty="id">
         INSERT INTO upfile SET title=#{title},path=#{path},remark=#{remark},cid=#{cid},uid=#{uid},uploadTime=#{uploadTime},suid=#{suid},editTime=#{editTime},state=#{state},isTop=#{isTop},downNumber=#{downNumber}
    </insert>

    <select id="getupFileById" parameterType="Long" resultMap="BaseResultMap">
    SELECT	up.*, t.`tagName`,	t.`id` AS tid,	u.`nickname`,	c.`cateName` FROM	upfile up
LEFT JOIN upfile_tags ats ON up.`id` = ats.`id` LEFT JOIN tags t ON ats.`tid` = t.`id`LEFT JOIN USER u ON up.`uid` = u.`id` LEFT JOIN category c ON up.`cid` = c.`id`
WHERE up.id = #{id}
    </select>

    <delete id="deleteUpFileById">
        DELETE FROM upfile WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="updateUpFileState">
        UPDATE upfile SET state=#{state},editTime=#{editTime},suid=#{suid} WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <select id="getupFileByState" resultType="org.sang.bean.upFile">
        SELECT a.id,a.uploadTime,a.`title`,a.remark,a.`editTime`,a.`state`,a.`cid`,a.`isTop`,u.`nickname`,c.`id`,c.`cateName`,a.uid FROM upfile a,user
        u,category c WHERE a.`cid`=c.`id` AND a.`uid`=u.`id` and cid <![CDATA[ >= ]]> #{begin} and cid <![CDATA[ <= ]]> #{end}
        <if test="state!=-1 and state!=-2">
            and a.state=#{state}
        </if>
        <if test="state==-2">
            and a.state=1
        </if>
        <if test="keywords!=null and keywords!=''">
            AND title LIKE concat('%',#{keywords},'%')
        </if>
        ORDER BY a.isTop DESC ,a.editTime DESC limit #{start},#{count};
    </select>

    <select id="getupFileCountByState" resultType="int">
        SELECT count(*) FROM upfile where 1=1 and cid <![CDATA[ >= ]]> #{begin} and cid <![CDATA[ <= ]]> #{end}
        <if test="state!=-1">
            AND state=#{state}
        </if>
        <if test="keywords!=null and keywords!=''">
            AND title LIKE concat('%',#{keywords},'%')
        </if>
    </select>

    <select id="getupFileByStateAndcid" resultType="org.sang.bean.upFile">
        SELECT a.id,uploadTime,a.`title`,a.remark,a.`editTime`,a.`state`,a.`isTop`,a.`cid`,u.`nickname`,c.`id`,c.`cateName`,a.uid FROM upfile a,user
        u,category c WHERE a.`cid`=c.`id` AND a.`uid`=u.`id` and cid=#{cid}
        <if test="state!=-1 and state!=-2">
            and a.state=#{state}
        </if>
        <if test="state==-2">
            and a.state=1
        </if>
        <if test="keywords!=null and keywords!=''">
            AND title LIKE concat('%',#{keywords},'%')
        </if>
        ORDER BY a.isTop DESC ,a.editTime DESC limit #{start},#{count};
    </select>

    <select id="getupFileCountByStateAndcid" resultType="int">
        SELECT count(*) FROM upfile where 1=1 and cid = #{cid}
        <if test="state!=-1">
            AND state=#{state}
        </if>
        <if test="keywords!=null and keywords!=''">
            AND title LIKE concat('%',#{keywords},'%')
        </if>
    </select>

    <update id="upFileToFirst" parameterType="org.sang.bean.upFile">
        UPDATE upfile SET editTime=#{editTime},isTop=#{isTop} WHERE id=#{id}
    </update>

    <update id="downIncrement" parameterType="Long">
        UPDATE upfile set downNumber=downNumber+1 WHERE id=#{fid}
    </update>

    <select id="getLawStatistics" resultMap="ExResultMap">
        SELECT	c.cateName,SUM(downNumber) AS quantity FROM	category c,	upfile up WHERE	up.cid = c.id AND up.cid BETWEEN 20 AND 35 AND up.state = 1 GROUP BY cid ORDER BY quantity DESC limit 0,6
    </select>

    <select id="getStudyStatistics" resultMap="ExResultMap">
        select c.cateName,SUM(downNumber) as quantity from category c,upfile up WHERE up.cid=c.id and up.cid BETWEEN 36 and 60 and up.state=1 group by cid order by quantity desc limit 0,6
    </select>

</mapper>